



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, html{
	width: 100%;
}
img{
	width: 100%;
	object-fit: fill;
}

.container{
	width: fit-content;
	margin: 15vh auto;
}

.main-image{
	position: relative;
	width: 691.188px;
	height: 433.047px;
}

.main-image img{
	width: 100%;
	height: 100%;
}
.qr-code{
	width: 246px;
    height: 246px;
    background: #fff;
    position: absolute;
    right: 72px;
    top: 93px;
}

.form-upload{
	margin-bottom: 30px;
	width: 691.188px;
}






.image-upload-wrap {
  margin-bottom: 15px;
  border: 4px dashed #C80C0C;
  position: relative;
  transition: all 0.35s ease-in-out;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-submit{
	width: 48%;
	padding: 0.65rem;
	background: #C80C0C;
	color: #fff;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn-submit:hover{
	background: #c80c0ca8;
}
.btn-submit:disabled {
  cursor: not-allowed; /* con trỏ bị khóa khi disable */
  opacity: 0.6; /* mờ đi để dễ nhận biết */
  background: #b2b2b2;
}


.btn-reset{
	width: 48%;
	padding: 0.65rem;
	background: #C80C0C;
	color: #fff;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn-reset:hover{
		background: #c80c0ca8;
}

.btn-reset:disabled {
  cursor: not-allowed; /* con trỏ bị khóa khi disable */
  opacity: 0.6; /* mờ đi để dễ nhận biết */
  background: #b2b2b2;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.hidden{
	display: none;
	opacity: 0;
	pointer-events: none;
}

.notification{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 5vh;
	color: red;
	background: #dddddd;
	display: flex;
	justify-content: center;
	font-size: 1.6rem;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.drag-text h3 {
	font-weight: 100;
	color: #C80C0C;
	transition: all 0.35s ease-in-out;
	font-size: 22px;
}


/* Tablet */
@media (max-width: 768px) {
	.main-image{
		width: 350px;	
		height: 219px;
	}
	.qr-code{
		width: 125px;
    height: 125px;
    right: 36px;
    top: 47px;
    }
	.form-upload{
		margin-bottom: 30px;
		width: 350px;
	}
	.drag-text h3 {
		font-weight: 100;
		color: #C80C0C;
		transition: all 0.35s ease-in-out;
		font-size: 17px;
	}
	.btn-submit,.btn-reset{
		font-size: 15px;
	}
}